<!DOCTYPE html>
<head>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">

    <title>Home Page</title>
</head>
<html lang="en">
    <body>
       
        <header >
            <div >
                <p>
                    <b>
                        <a href="index.html"> Home Page </a>
                        <a> | </a>
                        <a href="input_html.html"> GO PLANNING </a>
                        <a> | </a>
                        <a href="result.html"> See Your Result </a>                        
                    </b>
                </p>
        
            </div>
        </header>
            
        <section class = "index_page">
            

            <div>
                    
                <section>
                    <div align="center">
                        <!-- Introduction about me -->
                        <h1 class = "index_page">I'm Robert or you can also call me Duck Nguyen</h1>
                        <h2 class = "index_page">About me</h2>
                        <p class = "index_page">I'm a student at Vinschool Imperia and I am really enjoy listening to music</p>
                        
                        
                        <!-- Introduction about the project -->
                        <h2 class = "index_page">About the Project</h2>
                        <p class = "index_page">This project is mainly about getting a schedule for traveler who are new to Vietnam or people who don't know where to head for some fun.</p>


                        <!-- button to move to the next step -->
                        <p class = "index_page">Click the button below to input the information about your idea for your trip:</p>
                        <a  href = "{{url_for('input_page')}}" class = "button-link" >Next Page</a>
                    </div>
                </section>
            </section>

        </div>

        <!--Nội dung cuối trang-->
        <footer>
            <p>©2016 - Nhà sách ABC. Allright Reserved</p>
            <p>Website được phát triển để sử dụng làm bài tập thực hành môn Thiết kế và Lập trình Web</p>
            <p>Email: abc.bookstore@gmail.com</p>
        </footer>



    </body>
</html>
